<section class="container">
  <table class="table" *ngIf="products">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Marca</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cantidades</th>
        <th scope="col">Description</th>
        <th scope="col">Talla</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.brand}}</td>
        <td>{{product.date}}</td>
        <td>{{product.stock}}</td>
        <td>{{product.description}}</td>
        <td>{{product.size}}</td>
      </tr>
    </tbody>
  </table>
</section>